html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #211f1f;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 20px;
}



.menu__btn {
  display: none;
  width: 26px;
  height: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  flex-direction: column;
  justify-content: space-between;
}

.menu__btn span {
  height: 2px;
  background-color: #47b47d;
  width: 100%;
}

.header {
  background-color: #edf7f2;
}

.inner__header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 190px;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.menu__list__link {
  font-size: 16px;
}

.language {
  display: flex;
  align-items: center;
}

.language__text {
  font-size: 16px;
  text-transform: uppercase;
}

.language i {
  color: #47b47d;
  cursor: pointer;
}

.top {
  padding: 36px 0 130px;
  background-color: #edf7f2;
  overflow-x: clip;
}

.top__inner {
  position: relative;
}


.top__content {
  width: 452px;
  padding-top: 80px;
}

.top__text {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #47b47d;
  margin-bottom: 6px;
}

.top__title {
  font-size: 56px;
  font-weight: 800;
  font-family: "Playfair Display", sans-serif;
  margin-bottom: 20px;
}

.top__description {
  font-size: 16px;
  margin-bottom: 32px;
}

.top__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top__buy {
  background: #47b47d;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 48px;
  
}

.top__buy:hover {
  background: #73d4a4;
}

.video__btn {
  display: flex;
  align-items: center;
  gap: 9px;
}

.top__video {
  position: relative;
  background: none;
  font-size: 18px;
  font-weight: 600;
}


.top__img {
  position: absolute;
  top: -150px;
  left: 570px;
}

.small__img {
  position: absolute;
  top: -15px;
  left: -30px;
  width: 66px;
  height: 66px;
}

.yellow__star-img {
  position: absolute;
  top: 150px;
  right: 100px;
  width: 60px;
  height: 60px;
}

.hero__img {
  width: 700px;
}

.white__star-img {
  position: absolute;
  top: 438px;
  right: 80px;
  width: 100px;
  height: 100px;
}

.text__img {
  position: absolute;
  top: 250px;
  right: 0;
  width: 120px;
  height: 180px;
}


@media (max-width: 1300px) {
  
  .top__img {
    left: 550px;
  }
  .small__img {
    left: -10px;
  }
  
  .yellow__star-img {
    right: 140px;
  }
  
  
  .white__star-img {
    right: 120px;
  }
  
  
}

@media (max-width: 1262px) {

  .top__img {
    left: 530px;
  }
  .small__img {
    left: 0;
  }
  
  .yellow__star-img {
    right: 150px;
  }
  
  
  .white__star-img {
    right: 130px;
  }
  
  
}

@media (max-width: 1240px) {
   
  .top__text {
    font-size: 14px;
  }

  .top__title {
    font-size: 53px;
  }
  .top__img {
    top: -120px;
    left: 570px;
  }
  
  .small__img {
    left: 0;
    width: 60px;
    height: 60px;
  }
  
  .yellow__star-img {
    right: 150px;
    width: 60px;
    height: 60px;
  }
  
  .hero__img {
    width: 650px;
  }
  
  .white__star-img {
    top: 428px;
    right: 130px;
    width: 90px;
    height: 90px;
  }
  
  
  
}

@media (max-width: 1230px) {
   
  .top__img {
    left: 560px;
  }
  
  
}


@media (max-width: 1210px) {
   
  .top__img {
    left: 540px;
  }
  
  
}

@media (max-width: 1192px) {
   
  .top__img {
    left: 500px;
  }
  
  
}

@media (max-width: 1148px) {
   
  .top__img {
    left: 450px;
  }
  
  
}

@media (max-width: 1100px) {
   
  
  
  
}






.footer {
  background-color: #47b47d;
  padding: 40px 0px;
  color: #fff;
}

.inner__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
}

.footer__logo {
  margin-top: -120px;
  width: 162px;
  height: 162px;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer__social-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.footer__social-img {
  width: 40px;
  height: 40px;
}

.line {
  width: 980px;
  border: 1px solid;
}

.footer__description {
  font-size: 12px;
  width: 439px;
  text-align: center;
}

@media (max-width: 1140px) {
  .language__text {
    font-size: 14px;
  }
  .line {
    width: 800px;
  }
}

@media (max-width: 890px) {
  .inner__header {
    height: 70px;
  }
  .logo__img {
    width: 160px;
  }

  .menu__list {
    gap: 20px;
  }
  .menu__list__link {
    font-size: 14px;
  }

  .language__text {
    font-size: 14px;
  }

  .inner__footer {
    gap: 35px;
  }

  .footer__social-img {
    width: 28px;
    height: 28px;
  }

  .footer__social-text {
    font-size: 12px;
  }
  .line {
    width: 700px;
  }
}

@media (max-width: 768px) {
  .inner__header {
    height: 60px;
  }
  .logo__img {
    width: 140px;
  }

  .menu__list {
    gap: 14px;
  }
  .menu__list__link {
    font-size: 12px;
  }

  .language__text {
    font-size: 12px;
  }

  .inner__footer {
    gap: 30px;
  }

  .footer__social-link {
    gap: 8px;
  }

  .footer__social-img {
    width: 24px;
    height: 24px;
  }

  .footer__social-text {
    font-size: 10px;
  }
  .line {
    width: 550px;
  }

  .footer__description {
    font-size: 10px;
  }
}

@media (max-width: 640px) {
  .header__menu-list {
    width: 100%;
    background-color: #47b47d;
    color: #fff;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    position: absolute;
    right: 0;
    top: 60px;
    text-align: center;
    transform: translateY(-150%);
    transition: transform 0.5s ease;
  }

  .header__menu-list.menu__open {
    transform: translateY(0%);
  }

  .menu__btn {
    display: flex;
    cursor: pointer;
  }

  .header__menu {
    order: 1;
  }

  .language__text {
    font-size: 14px;
  }

  .inner__footer {
    gap: 25px;
  }

  .footer__social-box {
    display: none;
  }

  .line {
    width: 350px;
  }

  .footer__description {
    width: 250px;
  }
}

@media (max-width: 400px) {
  .footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .line {
    width: 230px;
  }

  .footer__description {
    width: 200px;
  }
}
