html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #211f1f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 20px;
}

.menu__btn {
  display: none;
  width: 26px;
  height: 16px;
  border: none;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  flex-direction: column;
  justify-content: space-between;
}

.menu__btn span {
  height: 2px;
  background-color: #47b47d;
  width: 100%;
}

.header {
  background-color: #edf7f2;
  margin-bottom: 100px;
}

.inner__header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 190px;
}


.menu__list {
  display: flex;
  gap: 30px;
}

.menu__list__link {
  font-size: 16px;
}

.language {
  display: flex;
  align-items: center;
}

.language__text {
  font-size: 14px;
}

.language i {
  color: #47b47d;
}

.footer {
  background-color: #47b47d;
  padding: 40px 0px;
  color: #fff;
}

.inner__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.footer__logo {
  margin-top: -135px;
  width: 162px;
  height: 162px;
}


.footer__social {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.footer__social-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.footer__social-img {
  width: 40px;
  height: 40px;
}

.line {
  width: 980px;
  border: 1px solid;
}

.footer__description {
  font-size: 12px;
  width: 439px;
  text-align: center;
}

@media (max-width: 1140px) {
  .line {
    width: 800px;
  }
}

@media (max-width: 890px) {
  .inner__header {
    height: 70px;
  }
  .logo__img {
    width: 160px;
  }

  .menu__list {
    gap: 20px;
  }
  .menu__list__link {
    font-size: 14px;
  }

  .language__text {
    font-size: 14px;
  }

  .inner__footer {
    gap: 50px;
  }

 

  .footer__social-img {
    width: 28px;
    height: 28px;
  }

  .footer__social-text {
    font-size: 12px;
  }
  .line {
    width: 700px;
  }
}

@media (max-width: 768px) {
 
  .inner__header {
    height: 60px;
  }
  .logo__img {
    width: 140px;
    
  }

  .menu__list {
    gap: 14px;
  }
  .menu__list__link {
    font-size: 12px;
  }

  .language__text {
    font-size: 12px;
  }

  .inner__footer {
    gap: 40px;
  }


  .footer__social-link {
    gap: 8px;
  }

  .footer__social-img {
    width: 24px;
    height: 24px;
  }

  .footer__social-text {
    font-size: 10px;
  }
  .line {
    width: 550px;
  }

  .footer__description {
    font-size: 10px;
  }
  
}

@media (max-width: 640px) {


  .header__menu-list {
    display: none;
  }

  .menu__btn {
    display: flex;
  }

  .header__menu {
    order: 1;
  }

  .language__text{
    font-size: 14px;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .inner__footer {
    gap: 30px;
  }

  .footer__social-box {
    display: none;
  }

  .line {
    width: 350px;
  }

  .footer__description {
    width: 250px;
  }
}

@media (max-width: 400px) {

    .menu__list {
      display: block;
    }

    .footer__menu-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .line {
      width: 230px;
    }

    .footer__description {
      width: 200px;
    }
}
