html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #211f1f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0px 20px;
}

.header {
  background-color: #edf7f2;
}

.inner__header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 190px;
}

.menu__list {
  display: flex;
  gap: 30px;
}

.menu__list__link {
  font-size: 16px;
}

.language {
  display: flex;
  align-items: center;
}

.language__text {
  font-size: 16px;
  text-transform: uppercase;
}

.language i {
  color: #47b47d;
}

.footer {
  background-color: #47b47d;
}

.inner__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-top: -90px;
}

.phone {
  position: relative;
}

.phone::before {
  content: "";
  position: absolute;
  background-image: url("../images/phone1.png");
  width: 27px;
  height: 27px;
  left: -28px;
}
